
<app-banner></app-banner>
<div class="product-container">
  <div class="button-container">
  <button (click)="irPaginaAnterior()" [disabled]="currentPage === 1"> < previous page</button>
  <span>Page: {{ currentPage }}</span>
  <button (click)="irPaginaSiguiente()" [disabled]="currentPageProducts.length < productsPerPage">next page > </button>
</div>
  <div class="product-grid">
    <div *ngIf="loading" class="loading"><mat-spinner></mat-spinner></div>
    <div class="product-card" *ngFor="let product of currentPageProducts">
      <app-product [productData]="product"></app-product>
    </div>
  </div>
</div>



